{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block page_content %}

<div class="container h-100">
  <div class="row h-100 align-items-center justify-content-center text-center">
    <div class="col-lg-10 align-self-end">
      <h1 class="text-uppercase text-black font-weight-bold">Esti interesat sa te alaturi unei echipe de voluntari?</h1>
      <hr class="divider my-4">
    </div>
    <div class="col-lg-8 align-self-baseline">
      <p class="text-white-75 font-weight-light mb-5">Daca raspunsul la intrebare este "DA", atunci ai ajuns in locul potrivit. Pregateste-te sa te alaturi comunitatii.</p>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="{% url 'blog_index' %}">Afla mai multe informatii</a>
    </div>
    <img src="{% static "img/volunteer_background.jpg" %}" alt="My image">
  </div>
</div>

{% endblock %}